
@media screen and (max-width: 640px) {
    :root {
        --color-primary: #222121;
        --color-secondary: #d504d2;
        --color-white: #FFFFFF;
        --color-black: #000;
        --color-grey0: #f8f8f8;
        --color-grey-1: #dbe1e8;
        --color-grey-2: #b2becd;
        --color-grey-3: #6c7983;
        --color-grey-4: #494e56;
        --color-grey-5: #2a2e35;
        --color-grey-6: #12181b;
        --br-sm-2: 14px;
        --box-shadow: 0 3px 15px rgba(0,0,0,.3) ;
      }

      .light-mode {
        --color-primary: #FFFFFF;
        --color-secondary: rgb(65, 97, 255);
        --color-white: #000000;
        --color-black: #000;
        --color-grey0: #f8f8f8;
        --color-grey-1: #6c7983;
        --color-grey-2: #6c7983;
        --color-grey-3: #6c7983;
        --color-grey-4: #cdcdcd;
        --color-grey-5: #b9b9b9;
        --color-grey-6: #12181b;
      }


    header {
        padding: 0;
    }

    header .right-header{
        padding: 0 !important;
        p{
            font-size: 1rem;
        }

        .btn-con .main-btn{
            background-color:var(--color-secondary);
            .btn-text{
                padding: 0 1rem;
                font-size: 13px;
            }
        }
    }

    .controls{
        right: 30%;
        .control{
            width: 45px;
            height: 45px;
        }
        i{
            font-size: 0.9rem;
        }
    }


    

    .theme-button{
        width: 40px;
        height: 40px;
        i{
            font-size: 1rem;
        }
    }

    .header-content{
        grid-template-columns: 1fr;
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2rem !important;
        }
    }

    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
        img{
            filter: none;
        }
    }

    .about-container{
        grid-template-columns: 1fr;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 0 !important;
        }

        .section{
            padding: 2rem 2.5rem !important;
        }
    

    .about-stats{
        .progress-bar{
            flex-direction: column !important;
            position: relative !important;
            align-items: center;
        }
        .progress-title{
            padding: 1rem !important;
        }
    }
    .contact-content-con{
        padding: 0 !important;
        h4{
            margin-top: 2rem;
            font-size: 1.2rem;
        }
        .contact-icon{
            position: absolute;
            left: 70px;
        }
    }

    .contact-item{
        flex-direction: column;
        margin: 1rem 0;
        p{
            font-size: 15px;
        }
        span{
            font-size: 15px;
        }
        .icon{
            grid-template-columns: 25px 1fr;
        }
        i{
            font-size: 1rem !important;
            justify-content: center;
        }
        
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
        }

    }
}
    
