
@media screen and (max-width: 725px) {
    header {
        padding: 0;
    }

    header .right-header{
        padding: 0 !important;
    }

    .theme-button{
        width: 50px;
        height: 50px;
    }

    .header-content{
        grid-template-columns: 1fr;
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2rem !important;
        }
    }

    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

    .about-container{
        grid-template-columns: 1fr;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 0 !important;
        }

        .section{
            padding: 2rem 2.5rem !important;
        }
    

    .about-stats{
        .progress-bar{
            flex-direction: column !important;
            position: relative !important;
            align-items: center;
        }
        .progress-title{
            padding: 1rem !important;
        }
    }
    .contact-content-con{
        padding: 0 !important;
        h4{
            margin-top: 2rem;
            font-size: 1.5rem;
        }
    }

    .contact-item{
        flex-direction: column;
        margin: 1rem 0;
        p{
            font-size: 15px;
        }
        span{
            font-size: 15px;
        }
        .icon{
            grid-template-columns: 25px 1fr;
        }
        i{
            font-size: 1rem !important;
            justify-content: flex-end;
        }
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
        }

    }
}
    
